<?xml version="1.0" encoding="ISO-8859-1"?>
<Config>
	<!-- Where the RasPiBrew will be served from -->
	<RootDir>/mnt/NAS/Software/Rpi/SousVidePi</RootDir>
	<!-- Place templates (themes) in templates folder -->
	<!-- The static folder must contain the corresponding css and js files -->
	<Template>sousvidepi.html</Template>
	<!-- GPIO pin numbering scheme - choose BOARD or BCM. If something else than these are given, BCM is chosen as default. -->
	<GPIO_pin_numbering_scheme>BCM</GPIO_pin_numbering_scheme>
	<!-- Temperature Sensor Id - used with DS18B20 -->
	<Temp_Sensor_Id>28-0000037eb5c0</Temp_Sensor_Id>
	<!-- Temperature Sensor pin - used with ADC -->
	<Temp_Sensor_Pin></Temp_Sensor_Pin>
	<!-- Heating element controller pin -->
	<Heat_Pin>17</Heat_Pin>
	<!-- If your relay board work inverted mode set to 1 -->
	<GPIO_Inverted>1</GPIO_Inverted>
	<!-- Up to 2 GPIO pins are supported but can easily be expanded in code-->
	<!-- Repeat <GPIO_Pin> element name -->
	<GPIO_Pin>18</GPIO_Pin>
	<GPIO_Pin>19</GPIO_Pin>
</Config>
